
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:image" content="images/LogoArthur.png" />    
    <link rel="icon" href="../../favicon.ico"/>

    <title>Arthur Geron's Website</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if IE 10]>><link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    
    <link href="css/carousel.css" rel="stylesheet"/>
    <link href="css/Custom.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <!--Angular-Timeline-->
    <link href="css/angular-timeline.css" rel="stylesheet"/>
    <!--<link href="css/angular-timeline-images.css" rel="stylesheet"  />-->
    <link href="css/angular-timeline-bootstrap.css" rel="stylesheet"  />
    <link href="css/angular-timeline-animations.css" rel="stylesheet"  />
    <script src="js/angular.min.js"></script>
    
</head>
<!-- NAVBAR
================================================== -->
  <body ng-app="timeline">
      <div class="navbar-wrapper">
          <div class="container scrolledContainer">

              <nav class="navbar navbar-inverse navbar-static-top">
                  <div class="container scrolledContainer">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Arthur Geron's Website</a>
                      </div>
                      <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                              <li class="active"><a class="MainMenuHover" href="#">Home</a></li>
                              <li><a id="AboutMeMenu" class="MainMenuHover" href="#about">About</a></li>
                              <li><a id="ContactMeMenu" class="MainMenuHover" href="#contact">Contact</a></li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                      <li><a href="mailto:arthurgeron@hotmail.com?" target="_top">Send an E-mail</a></li>
                                      <li role="separator" class="divider"></li>
                                      <li class="dropdown-header">Extra Content</li>
                                      <li><a href="http://www.linkedin.com/in/arthurgeron" target="_blank">LinkedIn Profile</a></li>
                                      <li><a href="docs/CV.pdf" target="_blank">My Curriculum</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>

          </div>
      </div>

      <!-- NAVBAR END
      ================================================== -->
      <!-- Cover image and logo -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
          </ol>
          <div class="carousel-inner" role="listbox">
            <!--Cover image -->
              <div id="HomeDisplayImage" class="item active First_Slide_Custom">
                <!-- Logo -->
                  <div id="Overlay" class="Overlay">
                      <div id="logoOverlay" class="OverlayImage">


                          <div class="container scrolledContainer">
                              <div class="carousel-caption">
                                <span id="TypedTitle"> </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Main Content -->
      <div>
        <!-- <div class="secondaryBackground">

        </div> -->
        <div class="container marketing scrolledContainer">
          <!--Internal container that contains secondary static background -->
          <!--Fixed Header used to measure window scroll positioning-->
            <div id="FixedHeader" class="nonSticky">
                </div>
            <h2 id="TitleHover" style="text-align: center; display: grid"></h2>
            <!-- Fixed Header End-->
            <!-- Three columns of text below-->
            <div class="row">
                <div id="ProgrammingSkillsButton" class="col-lg-4">
                    <img class="img-circle" src="images/programming.png" alt="Generic placeholder image" width="140" height="140">
                    <h2><span>Specific Skills</span></h2>
                    <p><span>Find out more about my specific skills.</span></p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div id="ExperienceButton" class="col-lg-4">
                    <img class="img-circle" src="images/work.png" alt="Generic placeholder image" width="140" height="140">
                    <h2><span>Experience</span></h2>
                    <p><span>Get to know more my professional history and how I developed my skills over the past years.</span></p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div id="PapersButton" class="col-lg-4">
                    <img class="img-circle" src="images/paper.png" alt="Generic placeholder image" width="140" height="140">
                    <h2><span>Papers</span></h2>
                    <p><span>Read more about the papers I've published.</span></p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">

            <div id="AboutMe" class="row featurette">

                <div class="col-md-7">
                    <h2 class="featurette-heading"><span>About Me</span><span class="text-muted"></span></h2>
                    <p class="lead"><span>Computer Science student, with 2 years + of experience in programming, software documentation and SQL database development. Highly dedicated professional, eager to learn new things, used to take decisions in high pressure situations at multinational companies (e.g. Dell Inc.), as well as adapting to new scenarios and challenges at work.</span></p>
                </div>
                
                <div class="col-md-5">
                    <!-- <img src="images/placeHolder.png" style="transform: rotate(180deg)scale(0.4,0.3)scaleY(-1)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
                    <!-- <img src="images/placeHolder.png" style="transform: rotate(180deg)scale(0.4,0.3)scaleY(-1)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->

                </div>
            </div>

            <hr class="featurette-divider">

            <div id="ProgrammingSkills" class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading"><span>Specific Skills.</span></h2>
                    <p class="lead"><span>I program / am familiar with: C, C++, Java, C#, JavaScript, Python, React.js, ASP.NET, MySQL, Microsoft SQL Server, Unified Modeling Language (UML), SQL, Software Development, Linux, JQuery, Cascading Style Sheets (CSS)  &amp; CSS3, HTML5, Github, Visual Studio, Eclipse, Firebird, PostgreSQL, Unity, Microsoft Office, Windows, Mac OS X, iOS, Adobe After Effects, Adobe Photoshop, .NET MVC, PowerShell, XML, jUnit, AngularJS, HTML5, Regex, react, Node.js.</span></p>
                </div>

                <div class="col-md-5 col-md-pull-7">
                    <!-- <img src="images/placeHolder.png" style="transform: scale(0.4,0.3)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
                </div>
            </div>

            <hr class="featurette-divider">

            <div id="ProfessionalExperience" class="row featurette custom">
                <h2 class="featurette-heading"><span>Professional Experience</span><span class="text-muted">.</span></h2>                
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#timeline">Timeline</a></li>
                    <li><a data-toggle="tab" href="#plaintext" onclick="animateProfExperienceText();">Plain Text</a></li>
                </ul>
                <div class="tab-content">
                    <div id="plaintext" class="tab-pane fade in">
                        <div class="col-md-7">
                            <p class="lead"><img class="customLogos daitan" src="images/daitan.png" /><span>Daitan Group – Full Stack Developer</span></p>
                            <p class="lead"><img class="customLogos obelisco" src="images/obelisco.png" /><span>Empresa Junior Obelisco Soluções em Software – Chief Executive Officer</span></p>
                            <p class="lead"><img class="customLogos" src="images/dell.png" /><span>Dell Brazil – Test Engineering - Intern</span></p>
                            <p class="lead"><img class="customLogos" src="images/tcd.png" /><span>Trinity College Dublin &amp; Bearing Point - Project Development - Full Stack Developer Intern</span></p>
                            <p class="lead"><img class="customLogos" src="images/cti.png" /><span>Centre of Information Technology Renato Archer - Research - Volunteer Research</span></p>
                            <p class="lead"><img class="customLogos" src="images/ifsp.png" /><span>Federal Institute of Sao Paulo - Teaching - Teaching Assistant</span></p>
                            <p></p>
                            <p class="lead"><span>To see more details about my work experience please visit my </span><a href="https://www.linkedin.com/in/arthurgeron" > LinkedIn profile </a></p>
                        </div>
                    </div>
                    <div id="timeline" class="tab-pane fade in active">
                        <div class="col-md-7">
                            <div ui-view ng-controller="ExperienceTimeline">
        
                                <div class="container-fluid">
                                <!--<h1>Professional Experience</h1>-->
                                <br/>
                                <br/>
                                <timeline>
                                    <!-- can also hard-code to side="left" or side="right" -->
                                    <timeline-event ng-repeat="event in events" side="{{side}}">
                                    <!-- uses angular-scroll-animate to give it some pop -->
                                    <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                                                    when-visible="animateElementIn" when-not-visible="animateElementOut">
                                        <i class="glyphicon {{event.badgeIconClass}}"></i>
                                    </timeline-badge>

                                    <!-- uses angular-scroll-animate to give it some pop -->
                                    <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                                                    when-visible="animateElementIn" when-not-visible="animateElementOut">
                                        <timeline-heading>
                                        <h4>{{event.title}}</h4>

                                        <p ng-if="event.when">
                                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                                        </p>
                                        <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
                                        </p>
                                        </timeline-heading>
                                        <p ng-bind-html="event.contentHtml"></p>
                                        <timeline-footer ng-if="event.footerContentHtml">
                                        <span ng-bind-html="event.footerContentHtml"></span>
                                        </timeline-footer>
                                    </timeline-panel>
                                    </timeline-event>
                                </timeline>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

            <hr class="featurette-divider">

            <div id="Certificates" class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Certificates</span><span class="text-muted"> and other achievements.</span></h2>
                    <p class="lead"><span>TOEFL  Certification (ITP)  (600 out of 677) - 2014</span></p>
                    <p class="lead"><span>IELTS   Certification(7,5 out of 9,0) - 2014</span></p>
                    <p class="lead"><span>Cambridge University English Certification, FCE Level - 2009</span></p>
                    <p class="lead"><span>Silver Medal at Brazilian Robotics Olympiad - 2008</span></p>
                   <p class="lead"><span>Mechatronics Course in Objetivo School- 2008</span></p>

                </div>

                <div class="col-md-5 col-md-pull-7">
                    <!-- <img src="images/placeHolder.png" style="transform: scale(0.4,0.3)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
                </div>
            </div>

             <hr class="featurette-divider">

            <div id="Papers" class="row featurette">

                <div class="col-md-7">
                    <h2 class="featurette-heading"><span>Papers</span><span class="text-muted"></span></h2>
                    <p class="lead"><span>Approved, to be published:</span></p>
                    <p class="lead"><span>O USO DA TECNOLOGIA NA EDUCAÇÃO, DESENVOLVIMENTO DE JOGOS EM PLATAFORMA 3D: THE USE OF TECHNOLOGY IN EDUCATION, GAME DEVELOPMENT IN 3D PLATFORMS</span></p>
                    <p class="lead"><span>NEW PERSPECTIVES FOR THE BLIND WITH UPCOMING TABLET AND SMARTPHONE BASED SOLUTIONS</span></p>
                </div>

                <div class="col-md-5">
                    <!-- <img src="images/placeHolder.png" style="transform: rotate(180deg)scale(0.4,0.3)scaleY(-1)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
                </div>
            </div>

            <hr class="featurette-divider">

            <div id="ContactMe" class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading"><span>Contact Me. </span></h2>
                    <p class="lead"><span>Please contact me trough my </span><a href="http://www.linkedin.com/in/arthurgeron" target="_blank">LinkedIn profile</a>.</p>
                </div>

                <div class="col-md-5 col-md-pull-7">
                    <!-- <img src="images/placeHolder.png" style="transform: scale(0.4,0.3)" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->

                </div>
            </div>



            <!-- /END THE FEATURETTES -->


            <!-- FOOTER -->
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2016 Arthur Geron. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>

        </div>

      </div>
      <!-- /.container -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <!-- Compatibility for older and newer IE browsers -->
      <!--[if !IE]><!--><script src="js/jquery-3.1.1.min.js"></script><!--<![endif]-->
      <!--[if gte IE 9]><script src="js/jquery-3.1.1.min.js"></script><![endif]-->
      <!--[if lte IE 8]><script src="js/jquery1.11.3.js"></script><![endif]-->
      <script src="js/bootstrap.min.js"></script>
      <script src="js/typed.min.js"></script>
      
      <script src="js/Custom.js"> </script>
      <!-- Angular-Timeline -->
     <script src="js/bower_components/angular-sanitize.js"></script>
     <script src="js/bower_components/angular-scroll-animate.js"></script>
     <script src="js/angular-timeline.js"></script>    
     <!--Custom Angular-Timeline app and modules-->
     <script src="js/custom-angular-timeline.js"></script>

     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!--[if IE 10]><script src="js/ie10-viewport-bug-workaround.js"></script><![endif]-->

  </body>
</html>
