<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../../favicon.ico"/>
    <!--Angular-Timeline-->
    <link href="css/angular-timeline.css" rel="stylesheet"/>
    <link href="css/angular-timeline-images.css" rel="stylesheet"  />
    <link href="css/angular-timeline-bootstrap.css" rel="stylesheet"  />
    <link href="css/angular-timeline-animations.css" rel="stylesheet"  />
    <script src="js/angular.min.js"></script>

</head>
<body ng-app="example">
    <div ui-view ng-controller="ExampleCtrl">
        
        <div class="container-fluid">
          <h1>Angular Timeline</h1>
          <button ng-click="addEvent()">Add New Event</button>
          <button ng-click="leftAlign()">Left Side</button>
          <button ng-click="rightAlign()">Right Side</button>
          <button ng-click="defaultAlign()">Alternate Sides</button>
          <br/>
          <br/>
          <timeline>
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="event in events" side="{{side}}">
              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-badge class="{{event.badgeClass}} timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
              </timeline-badge>

              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-panel class="{{event.badgeClass}} timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h4>{{event.title}}</h4>

                  <p ng-if="event.when">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                  </p>
                  <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="event.contentHtml"></p>
                <timeline-footer ng-if="event.footerContentHtml">
                  <span ng-bind-html="event.footerContentHtml"></span>
                </timeline-footer>
              </timeline-panel>
            </timeline-event>
          </timeline>
        </div>

    </div>
    <!-- Angular-Timeline -->
     <script src="js/bower_components/angular-sanitize.js"></script>
     <script src="js/bower_components/angular-scroll-animate.js"></script>
     <script src="js/angular-timeline.js"></script>    
     <!--Custom Angular-Timeline app and modules-->
     <script src="js/custom-angular-timeline.js"></script>
</body>
</html>
